*~
/hh*.exe
/waik.x
/wAIKX86.msi.x
/WinPE.cab.x
/win10_x64.dir
/win10_x64.iso
/win10_x86.dir
/win10_x86.iso
/winpe10_x64.dir
/winpe10_x64.iso
/winpe10_x86.dir
/winpe10_x86.iso
/winpe31_x64.dir
/winpe31_x64.iso
/winpe31_x86.dir
/winpe31_x86.iso
/winpe3_x86.dir
/winpe3_x86.iso
/waik_supplement_en-us.iso
